.navbar{
    justify-content: space-between;
}
span{
    padding-right: 3rem;
}
mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}
 
mat-sidenav {
    width: 250px;
}
 
main {
    padding: 10px;
}