<mat-toolbar color="primary" class="navbar" >
    <!--
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>-->
    <div>PatientInformationApp</div>
    <div>
        <ng-container *ngIf="logedUser != null">
            <!--<a  mat-button  routerLink="/login" >Login</a>-->
            <a mat-button routerLink="/home">Home</a>
            <!--<a  mat-button  routerLink="/table">Patients</a>-->
            <a mat-button routerLink="/login" type="submit">Logout</a>
        </ng-container>
    </div>
</mat-toolbar>